DATABASE_URL="postgres://postgres:mypassword@localhost:8001/postgres"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET=
NATS_URL=nats://localhost:4222
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
VAPID_EMAIL=
NODE_ENV=dev
CORS_ORIGIN=http://localhost:3001,http://localhost:3002
CHURROS_CLIENT_ID=
CHURROS_CLIENT_SECRET=
CHURROS_AUTHORIZATION_URL=https://auth.inpt.fr/application/o/authorize/
CHURROS_TOKEN_URL=https://auth.inpt.fr/application/o/token/
CHURROS_USERINFO_URL=https://auth.inpt.fr/application/o/userinfo/